*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.stars{
    background: #000 url('stars.png') repeat top center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.twinkling{
    background: transparent url('twinkling.png') repeat top center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    animation: move-stars 200s linear infinite;
}

@keyframes move-stars {
    0% {background-position: 0 0;}
    100% {background-position: -10000px 5000px;}
}

.system{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orbita{
    display: flex;
                align-items: center;
                justify-content: center;
                border: 1px white solid;
                border-radius: 100%;
                position: absolute;
}

.earth-img{
    position:absolute;
    top: 50%;
    left: -12px;
    border-radius: 100%;
    transform: translateY(-50%);
    animation: spin 8s linear infinite;
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.earth {
    height: 500px;
    width: 500px;
    animation: spin 10s linear infinite;
}


.mars-img{
    position:absolute;
    top: 50%;
    left: -12px;
    border-radius: 100%;
    transform: translateY(-50%);
    animation: spin 8s linear infinite;
}

    .mars{
        height: 600px;
        width: 600px;
        animation: spin 16s linear infinite;
    }

.sun-img{
    animation: spin 8s linear infinite;
}

.uranus-img{
    position:absolute;
    top: 50%;
    left: -12px;
    border-radius: 100%;
    transform: translateY(-50%);
    animation: spin 8s linear infinite;
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.uranus {
    height: 400px;
    width: 400px;
    animation: spin 5s linear infinite;
}

.planeta-img{
    position:absolute;
    top: 50%;
    left: -12px;
    border-radius: 100%;
    transform: translateY(-50%);
    animation: spin 8s linear infinite;
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.planeta {
    height: 300px;
    width: 300px;
    animation: spin 32s linear infinite;
}

.saturn-img{
    position:absolute;
    top: 50%;
    left: -12px;
    border-radius: 100%;
    transform: translateY(-50%);
    animation: spin 8s linear infinite;
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.saturn {
    height: 700px;
    width: 700px;
    animation: spin 24s linear infinite;
}

.pluto-img{
    position:absolute;
    top: 50%;
    left: -12px;
    border-radius: 100%;
    transform: translateY(-50%);
    animation: spin 8s linear infinite;
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.pluto {
    height: 800px;
    width: 800px;
    animation: spin 8s linear infinite;
}











